form{
    margin-top: 2%;
    margin-left: 25%;
    width: 50%;
}

.card{
    margin-top: 10%;
}

body{
    background: url(https://i.pinimg.com/1200x/12/19/91/121991a40151cf3ad47ae68d0eae3cf9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
     }
